################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/bin
/packages
/install
/obj/**
/Package
/ResourcesZip
/Resources.zip
